.container{
  margin: 40px;
  padding: 40px;
  border: 1px solid #666666;
  border-radius: 6px;
}
.form{
  margin: 30px;
}
.form input{
  padding: 10px;
  margin: 10px;
  border: 1px solid #666666;
  border-radius: 6px;
  min-width: 300px;
  display: block;
}
.form label{
  padding-left: 10px;
}
.form-group.invalid input{
  border-color: red;
}
.form-group.valid input{
  border-color: green;
}
input:focus{
  outline: none;
}